@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #f4f6f7;
  --primary-alpha-color: #e3e8ea;
  --title-color: #393e46;
  --form-question-color: #454e59;
  --stats-color: #5c6d7e;
  --shadow-color: #a4b1bc;
  --checkbox-color: #71c9ce;
}

body {
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  max-width: 100%;
}

.app {
  background-color: var(--primary-alpha-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  box-shadow: 0 0.8rem 0.8rem var(--shadow-color);
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--title-color);
  text-align: center;
  font-size: 2rem;
}

.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.form-question {
  color: var(--form-question-color);
}

.form-select,
.form-input,
.form-btn {
  border-radius: 0.3rem;
  width: 4rem;
  height: 1.8rem;
  cursor: pointer;
  border: 1px solid var(--title-color);
}

.form-input {
  width: 20rem;
  padding: 0.5rem;
}

.form-btn:hover,
.action-btn:hover {
  background-color: var(--form-question-color);
  color: var(--primary-color);
}

.action-select {
  border-radius: 0.3rem;
  height: 1.8rem;
  cursor: pointer;
  border: 1px solid var(--title-color);
  width: 12rem;
  padding: 0.3rem;
}

.action-btn {
  border-radius: 0.3rem;
  width: 6.5rem;
  height: 1.8rem;
  cursor: pointer;
  border: 1px solid var(--title-color);
  margin: 0.3rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0.5rem 0.8rem 0;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.item-btn {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.input-checkbox {
  width: 1rem;
  height: 1rem;
  margin: 0.3rem;
  border: 1px solid var(--title-color);
  border-radius: 0.3rem;
  accent-color: var(--checkbox-color);
}

.stats,
.footer {
  text-align: center;
  color: var(--stats-color);
  font-weight: 600;
}

@media (max-width: 767px) {
  .app {
    width: 20rem;
    border-radius: 1rem;
    padding: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .add-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.1;
    padding: 0.4rem;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  }

  .form-question {
    font-size: 0.8rem;
  }

  .form-select,
  .form-input,
  .form-btn {
    width: 12rem;
    height: 1.8rem;
  }

  .action-select {
    width: 11.5rem;
    font-size: 0.8rem;
  }

  .action-btn {
    width: 5.5rem;
    font-size: 0.8rem;
  }
}
